# Frontend Environment Variables Template

# URL of the backend API
NEXT_PUBLIC_API_URL=http://localhost:5000

# Razorpay Key ID
NEXT_PUBLIC_RAZORPAY_KEY_ID="your_razorpay_key_id"

# Google OAuth Client ID (must match the one configured in Google Cloud Console)
GOOGLE_CLIENT_ID=1037872544242-tgvga3oiufl0j8un4df0tnfusu628vj8.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_CLIENT_ID=1037872544242-tgvga3oiufl0j8un4df0tnfusu628vj8.apps.googleusercontent.com
